.card {
  padding: 10px;
  width: 200px;
  height: 100%;
  background-color: var(--ds-background-accent-gray-subtlest, #ebecf0);
  border-radius: 10px;
}

.tasks {
  margin-top: 15px;
}

.cardHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}


.listHeader {
  font-size: 20px;
  font-weight: 600;
  width: 99%;
  word-wrap: break-word;
  overflow: hidden;
}




.cross {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  opacity: 0.2;
  cursor: pointer;
  transition: opacity ease 0.5s;
  background-color: var(--ds-background-accent-gray-subtlest, #ebecf0);
}

.cross:hover {
  opacity: 1;
}


.cross::before,
.cross::after {
  content: '';
  position: absolute;
  top: 10px;
  display: block;
  width: 24px;
  height: 3px;
  background: #000;
}

.cross::before {
  transform: rotate(45deg);
}

.cross::after {
  transform: rotate(-45deg);
}
