.row {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 180px;
  border-radius: 5px;
  height: 100%;
  margin-bottom: 10px;
  padding: 10px;

}

.listHeader,.listDescription {
  font-weight: 600;
  word-wrap: break-word;
  clear: both;
  color: var(--ds-text, #172b4d);
  display: block;
  margin: 0 0 4px;
  overflow: hidden;
  text-decoration: none;
}
.listDescription{
  font-weight: normal;
}
